
.jumbotron {
    background: linear-gradient(90deg, white, green);
    color: black;
    text-align: center;
    margin-top: 50px;
}

.btn {
    background-color: rgb(17, 53, 216);
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
}



.productos {
    flex: 1 150px;
    padding: 2px 5px;
    border: 2px solid #c21616;
    border-radius: 5px;
    margin-right: 3px;
}


footer {
    padding: 10px 10px 0 10px;
    background: linear-gradient(90deg, white, green);
    margin-bottom: 0px;
    margin-top: 1rem;
}

footer address {
    text-align: center;
}

.texto-blanco {
    color: white;
}

.footer-address-icon {
    padding-right: 10px;
}